body, html{
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.background{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Abel';
    background-image: linear-gradient(to bottom right, white, lightgreen);
}

.background h1{
    color: rgb(34, 238, 187);
}

.center-container{
    display: flex;
    width: 90%;
    flex: 1;
    justify-content: space-around;
}

.image-container{
    width: 100px;
    height: 100px;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.drag-block{
    background-color: white;
    width: 80%;
    padding: 2%;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    cursor: grab;
}

.table-container{
    width: 20%;
}

.table-container h2{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 3% 7% 3%;
    width: 100%;
    min-height: 70%;
    background-color: white;
    margin: auto 0px auto 0px;
    border-radius: 5%;
    
}

.strong{
    color: green;
}

.weak{
    color: red;
}

.emergency-button{
    background: red;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 35px;
    color: white;
    border: none;
    font-size: 35px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
}

.emergency-button:hover{
    cursor: pointer;
}

.overlap-container{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #00000088;
    transition-duration: 0.3s;
    opacity: 0;
}

.menu-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    padding: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-duration: 0.3s;
}

.menu-container table{
    padding-top: 3%;
    width: 40%;
}

.menu-container table th{
    text-align: start;
    padding-bottom: 5%;
}

.menu-container table td{
    padding: 5%;
    border-bottom: 2px solid gray;
}

.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-screen-container{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 4%;
    justify-content: flex-end;
    z-index: 3;
}

.slide-menu-button {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.padding-container{
    flex: 1;
    padding: 5%;
}

.card-container{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding: 3%;
}

.button-container{
    padding: 5%;
}

.record{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightgreen;
    transition-duration: 0.3s;
}

.record:hover{
    background-color: rgb(88, 223, 88);
    color: white;
}
