body, html{
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.background{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Abel';
    background-image: linear-gradient(to bottom right, white, lightgreen);
}

.background h1{
    color: rgb(34, 238, 187);
}

.center-container{
    display: flex;
    width: 90%;
    flex: 1;
    justify-content: space-around;
}

.image-container{
    width: 150px;
    height: 150px;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 0px auto 0px;
}

.drag-block{
    background-color: white;
    width: 80%;
    padding: 2%;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

.table-container{
    width: 20%;
}

.table-container h2{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 100%;
    height: 70%;
    background-color: white;
    margin: auto 0px auto 0px;
    border-radius: 5%;
}

.strong{
    color: green;
}

.weak{
    color: red;
}