body, html{
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.background{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Abel';
    background-image: linear-gradient(to bottom right, white, lightgreen);
}

.center-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container{
    width: 200px;
    height: 200px;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container{
    width: 500px;
    background-color: white;
    margin-left: 30px;
    flex: 1;
    padding: 5%;
    border-radius: 10px;
    word-wrap: break-word;
}

.card-container h1{
    margin: 0;
}

.card-container input{
    width: 100%;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #f17b7b, #b9f18b);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(34, 238, 187);
    cursor: pointer;
  }
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(34, 238, 187);
    cursor: pointer;
  }

.next-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 30px;
}

#next{
    height: 40px;
    width: 100px;
    font-family: 'Abel';
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    transition-duration: 0.3s;
    border-radius: 10px;
    background-color: white;
}

#next:hover{
    background-color: rgb(34, 238, 187);
    color: black;
}